extends layout

block content
  h1= title
  p Welcome to #{title}
  div#root

  script.
    const e = React.createElement;
    ReactDOM.render(
      e('div', null, 'Hello, world!'),
      document.getElementById('root')
    );

