doctype html
html
  head
    title= title
    script(src='https://use.fontawesome.com/14eaad7299.js')

    if env.NODE_ENV == 'development'
      link(rel='stylesheet', href='/css/weather-icons-wind.css')
      link(rel='stylesheet'  href='/css/weather-icons.css')
      link(rel='stylesheet'  href='/css/bootstrap.css')
    else
      link(rel='stylesheet'  href='/css/weather-icons-wind.min.css')
      link(rel='stylesheet'  href='/css/weather-icons.min.css')
      link(rel='stylesheet'  href='/css/bootstrap.min.css')

    link(rel='stylesheet', href='/css/style.css')

  body.bg-inverse.text-white
    block content
