doctype html
html
  head
    title= title
    if env.NODE_ENV == 'development'
      link(rel='stylesheet', href='/css/weather-icons-wind.css')
      link(rel='stylesheet'  href='/css/weather-icons.css')
      link(rel='stylesheet'  href='/css/bootstrap.css')
    else
      link(rel='stylesheet'  href='/css/weather-icons-wind.min.css')
      link(rel='stylesheet'  href='/css/weather-icons.min.css')
      link(rel='stylesheet'  href='/css/bootstrap.min.css')

    link(rel='stylesheet', href='/css/style.css')

  body
    block content
